* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    color: rgb(177, 212, 233);
}

body {
    background-color: #15547e;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(https://image.shutterstock.com/image-photo/leblon-beach-rio-de-janeiro-260nw-1936887277.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    padding: 20px 10%;
    box-shadow: 0px 5px 4px 3px rgba(59, 99, 173, 0.767);
    margin-bottom: 20px;
}

#logoLeblon {
    width: 280px;
    height: auto;
}

#total {
    position: fixed;
    top: 30px;
    left: 30px;
    transition: all 300ms ease 0ms;
    z-index: 99;
}

/* #boton-carrito {
    border: none;
    color: rgba(209, 227, 241, 0.76);
    font-size: 40px;
    background-color: rgb(10, 46, 92);
    border-radius: 100%;
    padding: 10px 20px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: royalblue;
}
#boton-carrito:focus {
    outline: none;
}



.modal-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: rgb(172, 196, 240);
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: rgb(109, 8, 16);
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(28, 58, 150);
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
} */